<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/serviceco</property>
        <property name="connection.username">root</property>
        <property name="connection.password">admin</property>
        <property name="show_sql">true</property>
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        
        <mapping class ="com.devone.jpa.ParamAdmin" />
        <mapping class ="com.devone.jpa.SecAuthorized" />
        <mapping class ="com.devone.jpa.Company" />
        <mapping class ="com.devone.jpa.Order" />
        <mapping class ="com.devone.jpa.SecElement" />
        <mapping class ="com.devone.jpa.Product" />
        <mapping class ="com.devone.jpa.SecRol" />
        <mapping class ="com.devone.jpa.SecUser" />
        <mapping class ="com.devone.jpa.Service" />
        <mapping class ="com.devone.jpa.Status" />
        <mapping class ="com.devone.jpa.TypeService" />
            
        <!--<property name="current_session_context_class">thread</property> -->
    </session-factory>
</hibernate-configuration>